<p class="text-center primary-text-color f-20 bold mb-4">{{ 'ERRORS_IN_EXCEL' | t }}</p>
<table class="table table-bordered mt-4">
  <thead>
  <tr>
    <th class="text-center">{{ 'ROW' | t }}</th>
    <th class="text-center">{{ 'ERROR' | t }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let error of errors">
    <td>{{ error.row }}</td>
    <td>{{ error.error | t }}</td>
  </tr>
  </tbody>
</table>
<div class="text-center mt-4">
  <button class="main-btn" mat-button matDialogClose>{{ 'CLOSE' | t }}</button>
</div>
