<mat-card class="card bg-light w-50 m-auto">
  <mat-card-title class="text-center title">SignUp</mat-card-title>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field class="mb-2">
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <div class="text-center">
    <button mat-raised-button  class="main-btn" type="submit" *ngIf="!isLoading">Signup</button>
    </div>
  </form>
</mat-card>
