<div class="text-left">
  <button mat-button class="main-btn" (click)="submit()">{{ 'SAVE' | t }}</button>
</div>
<div class="d-flex mt-4">
  <bd-select [(ngModel)]="selectedItem" [shownValue]="selectedItem?.name" [placeholder]="'SELECT_ITEMS'">
    <bd-option *ngFor="let item of items" [value]="item">
      <div>
        <span class="grey-text">{{ 'CODE' | t }}: </span>
        <span>{{ item.code }}</span>
      </div>
      <div>
        <span class="grey-text">{{ 'DESCRIPTION' | t }}: </span>
        <span>{{ item.name }}</span>
      </div>
    </bd-option>
  </bd-select>
  <div class="mr-5 mt-2">
    <button [disabled]="!selectedItem" mat-button class="main-btn" (click)="addItem()" type="button">{{ 'ADD_ITEM' | t }}</button>
  </div>
</div>
<table [formGroup]="form" class="items-table table-bordered mt-5 w-100">
  <thead>
    <tr>
      <th class="text-center">{{ 'CODE' | t }}</th>
      <th class="text-center">{{ 'DESCRIPTION' | t }}</th>
      <th class="text-center">{{ 'PRICE' | t }}</th>
      <th class="text-center">{{ 'COLOR' | t }}</th>
<!--      <th class="text-center">{{ 'SERIAL_NUMBER' | t }}</th>-->
      <th></th>
    </tr>
  </thead>
  <tbody formArrayName="menuItems">
    <tr *ngFor="let item of menuItems.controls; let i = index" [formGroupName]="i">
      <td>{{ item.value.code }}</td>
      <td>{{ item.value.name }}</td>
      <td>{{ item.value.price }}</td>
<!--      <td>{{ item.value.serialNumber }}</td>-->
      <td>
<!--        <div [ngStyle]="{ backgroundColor: item.value.color }" class="p-2"></div>-->
        <input type="color" formControlName="color">
      </td>
      <td>
        <i class="fa fa-trash pointer primary-text-color" (click)="removeItem(i)"></i>
      </td>
    </tr>
  </tbody>
</table>
<p class="bold p-3 text-center border" *ngIf="menuItems.controls.length === 0">{{ 'NO_ITEMS_ADDED_YET' | t }}</p>




